<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/xichen.jpg" class="d-block w-100" alt="Image 1">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="buy-here">
  <p class="text-center">
    Compra tu Tour aquí
  </p>
</div>
<br>

<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Elige tu tour</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Transportación desde</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Adultos</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Niños (5-11 años)</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fecha de visita">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12 text-center">
      <p style="font-size: 27px;">
        <strong>TOTAL: $0,000 MXN</strong>
      </p>
    </div>

    <div class="col-md-12 text-center">
      <img src="../../../assets/images/payment.jpg" class="img-flui" alt="Payment" style="width: 256px;">
      <p>
        Con los principales bancos y tarjetas emitidas en México. No aplica con Paypal. <strong>Ver opciones »</strong>
      </p>
      <button type="button" class="btn btn-dark rounded-pill">COMPRAR</button>
    </div>

    <div class="col-md-12 my-3">
      <p>
        <strong>-10% DE DESCUENTO</strong> comprando con 7-20 días de anticipación. <br>
        <strong>-15% DE DESCUENTO</strong> comprando con 21 o más días de anticipación. <br>
        <strong>-50% NIÑOS DE 5 A 11 AÑOS</strong> De 0 a 4 años entran gratis.
        *Precios sujetos a cambio sin previo aviso. Aplican restricciones.
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-dark rounded-pill">MÁS
          BENEFICIOS</button>
      </div>
    </div>
  </div>
</div>

<div class="my-3">
  <div class=" text-center">
    <p style="font-size: 22px; font-weight: bold">
      Los mejores Tours arqueológicos operados por Xcaret
    </p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/images/xenotes.jpg" alt="Xenotes Deluxe" class="img-fluid">
      <div class="carousel-caption">
        <h1>Xenotes Deluxe</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="../../../assets/images/xichen.jpg" alt="Xichen Deluxe" class="img-fluid">
      <div class="carousel-caption">
        <h1>Xichen Deluxe</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="welcome-xcared">
        Bienvenido a Xcaret Xpeditions
      </p>
    </div>

    <div class="col-md-12">
      <p>
        Nam hendrerit rutrum ullamcorper. Morbi placerat consectetur nibh, nec volutpat lectus porttitor at. Suspendisse
        dolor mauris, molestie vitae dolor ut, bibendum bibendum metus. Aliquam est metus, tincidunt eget tincidunt nec,
        condimentum ut libero. Nulla sed ipsum aliquet, posuere lorem sed, varius mi. Phasellus ut elementum sapien.
        Proin vitae ex at dolor viverra laoreet consectetur vel diam.
      </p>
      <p>
        Maecenas pharetra, erat vitae gravida bibendum, erat magna finibus ante, quis eleifend leo ipsum eu eros. Duis
        id augue id magna ullamcorper consequat. Nam nec ligula vel mauris rhoncus ornare aliquet quis ante. Curabitur
        urna tortor, iaculis vel dui vel, bibendum convallis arcu. Quisque sem arcu, efficitur ut eros scelerisque,
        tincidunt elementum tortor.
      </p>

      <div class="text-center">
        <button type="button" class="btn btn-outline-dark rounded-pill">Más info »</button>
      </div>
    </div>
  </div>
</div>