<footer class="footer my-3">
  <div class="row text-center buy-me">
    <div class="col">
      ¿POR QUÉ COMPRAR CON NOSOTROS?<br>
      <span>HASTA UN</span> <br>
      <span style="font-size: 36px;">50%</span><br>
      <span>DE DESCUENTO</span><br>
      <div class="">
        <button style="color: white" type="button" class="btn btn-outline-light rounded-pill btn-sm">
          <span style="font-size: 11px;">BENEFICIOS Y DESCUENTOS</span>
        </button>
      </div>
    </div>

    <div class="col">
      <br>
      <img style="width: 55px;" src="../../../assets/images/footer/card.svg" alt="Xichen Deluxe" class="img-fluid"> <br>
      <p>
        <strong style="font-size: 20px;">HASTA 9 MESES</strong><br>
        <strong><span style="font-size: 16px">SIN INTERESES</span></strong>
      </p>
      <div class="text-center">
        <button style="color: white" type="button" class="btn btn-outline-light rounded-pill btn-sm">
          <span style="font-size: 11px;">VER FORMAS DE PAGO</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-12 text-center" style="background-color: rgb(94, 94, 94)">
      <img style="width: 45px;" src="../../../assets/images/footer/email.svg" alt="">RECIBE INFORMACIÓN Y PROMOCIONES
      ESPECIALES
    </div>
  </div>

  <div class="row text-center experiancias-xcaret">
    <div class="col-12">
      <img style="width: 120px;" src="../../../assets/images/footer/logo_experiencias.svg" alt="">
    </div>
    <div class="col">
      <img style="width: 80px;" src="../../../assets/images/footer/logos/logo_xplor.svg" alt="">
    </div>
    <div class="col">
      <img style="width: 80px;" src="../../../assets/images/footer/logos/logo_xelha.svg" alt="">
    </div>
    <div class="col">
      <img style="width: 80px;" src="../../../assets/images/footer/logos/logo_xoximilco.svg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="">Más links</a> <i class="fa fa-angle-down"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Acerca de nosotros
    </div>

    <div class="col-6">
      Sitios Xcaret
    </div>
  </div>
</footer>